
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<p>
			Password Reset Link Has Been Sent To Your Email , Please Check Your Inbox.
		</p>
		<p><a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a></p>
	</div>
</div>

