@model ForgetPassword
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendResetPasswordURL">

			<div class="mb-2 mx-auto w-75 omda">
				<input class="w-100  rounded px-2 d-block" asp-for="Email" placeholder="Email">
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div asp-validation-summary="All"></div>

			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>

@section ValidationScriptSection
	{
	<partial name="_ValidationScriptsPartial" />
}

