@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SignUp">
			@*<div asp-validation-summary="All"></div>*@
			<div class="mb-2 mx-auto w-75 omda">
				<input class="w-100  rounded px-2 d-block" asp-for="FName" placeholder="Your First Name">
				<span asp-validation-for="FName" class="text-danger"></span>
			</div>
			
			<div class="mb-2 mx-auto w-75 omda">
				<input class="w-100  rounded px-2 d-block" asp-for="LName" placeholder="Your Last Name">
				<span asp-validation-for="LName" class="text-danger"></span>
			</div>
			
			<div class="mb-2 mx-auto w-75 omda">
				<input class="w-100  rounded px-2 d-block" asp-for="UserName" placeholder="UserName">
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>
			
			<div class="mb-2 mx-auto w-75 omda">
				<input class="w-100  rounded px-2 d-block" asp-for="Email" placeholder="Email">
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			
			<div class="mb-2 mx-auto w-75 omda">
				<input class="w-100  rounded px-2 d-block" asp-for="Password" placeholder="Password">
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			
			<div class="mb-2 mx-auto w-75 omda">
				<input class="w-100  rounded px-2 d-blockw-100  rounded px-2 d-block" asp-for="ConfirmPassword" placeholder="Confirm Password">
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			

			<div class="wthree-text">
				<label class="anim">
					<input asp-for = "IsAgree" class="checkbox">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		<p>Do You have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>

@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}
