@model string
<td class="text-primary"><a class="text-primary" asp-action="Details" asp-route-id="@Model"><i class="fa-solid fa-eye"></i></a></td>
<td><a class="btn btn-outline-warning btn-sm text-warning" asp-action="Edit" asp-route-id="@Model"><i class="fa-regular fa-pen-to-square"></i></a></td>
<td><a class="btn btn-outline-danger btn-sm text-danger" asp-action="Delete" asp-route-id="@Model"><i class="fa-solid fa-trash"></i></a></td>
