@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}
<div asp-validation-summary="All"></div>

<div class="w-50 mx-auto box px-2 py-4 rounded my-3">
    <h2 class="text-center">Are You Sure To Delete @Model.Name From Table ?</h2>

    <form asp-action="Delete" enctype="multipart/form-data">

        <partial name="PartialView/_DeleteDetailsPartialView" />
        <div class="w-100 text-center mt-3">
            <input type="submit" class="btn btn-danger w-50" value="Delete" />
            <a asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </form>
</div>

